@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset styles */
html, body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Make map full height */
#__next {
  height: 100%;
}

body {
  background-color: #f8fafc;
}
